Source: ros-ardent-fastcdr
Section: misc
Priority: extra
Maintainer: Steven! Ragnarök <stevenragnarok@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-ardent-ament-cmake
Homepage: 
Standards-Version: 3.9.2

Package: ros-ardent-fastcdr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: CDR serialization implementation.
